.card-auto .card-title {
    text-shadow: 1px 1px 4px rgba(0,0,0,0.75), 1px 1px 1px rgb(0,0,0);
}
dl {
    margin: .25em 0 0 0;
}
dl:last-child {
    margin-bottom: .25em;
}
dt {
    display: inline-block;
    clear: left;
    font-weight: 600;
}
dd {
    display: inline-block;
    clear: right;
    margin-left: 4px;
}